.carousel .item {
  height: auto;
  
}
.carousel img {
  position: relative;
  top: 0; 
  left: 0;
  min-width: 100%;
  
}

.btn btn-primary {
  align-content: right;
}
.card-img-top {
  max-height: 500px;
}
footer {
  background: black;
  color: white;
  padding: 40px;
  margin-top: 40px;
}